.deck {
  margin-right: 204pt;

  .deck-info {
    margin: 8pt;

    .name {
      font-size: 16pt;
      font-weight: 700;;
    }

    .description {
      font-size: 12pt;
      color: #606060;
    }
  }
}