.board {
  .board-info {
    .name {
      font-size: 12pt;
      font-weight: 700;;
    }

    .description {
      color: #606060;
    }
  }
  
  .add-card {
    .name, .count, .submit {
      display: inline-block;
    }
    
    .name {
      width: 120pt;
    }
    
    .count {
      width: 24pt;
    }
    
    .submit {
      width: 100pt;
    }
  }

  .categories {

    .category {
      margin: 8pt 0;

      .name {
        font-weight: 700;
        margin: 4pt 0;
      }
    }
  }
}