* {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fafafa;
}

.loading {
    position: absolute;
    display: block;
    height: 20pt;
    width: 100pt;
    top: 50%;
    left: 50%;
    margin-top: -10pt;
    margin-left: -50pt;
}

.box {
    margin: 4pt;
    padding: 4pt;
    box-sizing: border-box;
    border: 1pt solid #c0c0c0;
    border-radius: 5pt;


    &.inset {
        background-color: #ffffff;
    }
}

input {
    border: 1pt solid #c0c0c0;
    border-radius: 3pt;
    margin: 4pt;
    padding: 2pt;
    display: block;
}

.noSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 3pt;
    font-width: 700;
    padding: 8pt 16pt;
    background-color: #0088ff;
    color: #ffffff;
    border: 1pt solid #006dcc;

    &:hover {
        background-color: #e6f3ff;
        color: #0088ff;
        border: 1pt solid #0088ff;
    }

    &.small {
        padding: 2pt 4pt;
    }
}

.button.orange {
    background-color: #ff8800;
    color: #ffffff;
    border: 1pt solid #cc6d00;

    &:hover {
        background-color: #fff3e6;
        color: #ff8800;
        border: 1pt solid #ff8800;
    }
}